@import "elements.less";
@font_t : "Titillium Web", sans-serif;
@font_sans: 'Noto Sans', sans-serif;
@font_serif: 'Noto Serif', serif;
@font_dense: 'Roboto Condensed', sans-serif;
@red : #E74C3C;
@orange: #F39C12;
@deep : #7F8C8D;
@blur: #2980B9;
@nav_padding : 20px;

// signup
// channel
body{
	font-family: @font_dense;
	color: #292929;
	min-width: 600px;
	padding: 0px;
	padding-top: 20px;
	margin: 0;
}

#myytplayer{
	opacity:0;
	position: fixed;
	right:0;
	bottom:0;
	z-index: 0;
	pointer-events:none;
}

.hives{
	width:600px;
	margin: 0 auto;
}
.hive{
	display: inline-block;
	margin: 5px;
	height: 150px;
	width: 150px;
	line-height: 150px;
	text-align: center;
	padding: 10px;
	.rounded(10px);
	border: 1px solid #ddd;
	cursor: pointer;
	.transition(0.2s);
	opacity: 0.8;
	&:hover{
		opacity: 1.0;
	};
}

.mood{
	display: none;
}

#songs_sequence{
	color: #292929;
	width:600px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
}
#caption{
	color: #292929;
	width:600px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
}

.color_grid_item{
	margin-right: -4px;
	margin-bottom: -4px;
	width: 45px;
	height: 45px;
	padding: 10px;
	display: inline-block;
	.box-sizing();
	cursor: pointer;
	&:hover{
		border: 3px solid #FFF;
	};
	&.color_active{
		border: 6px solid #FFF;
	}
}

#color_grid{
	padding: 20px;
	width: 45px * 9;
	margin: 0 auto;
	position: relative;
	#color_cover{
		position: absolute;
		width: 100%
		height: 100%;
		top: 20px;
		left:24px;
		right: 20px;
		bottom: 20px;
		background: rgba(0,0,0,0.8);
		text-align: center;
		line-height: 200px;
		color: white;
		z-index: 500;
	}
}
#result_vis{
	text-align: center;
	display: none;
}
#color_result{
	display: none;
	width: 600px;
	margin: 0 auto;
	position: relative;	
	padding-top: 20px;
	#bubble_left{
		width: 180px;
		height: 200px;
		background: url(../image/bubble_left.png) no-repeat;
		display: inline-block;
		#bubble_left_color{
			width: 50px;
			height: 50px;
			background: red;
			margin-top: 40px;
			margin-left: 60px;
		}
	}
	#bubble_score{
		width: 230px;
		height: 200px;
		display: inline-block;
		text-align: center;
		padding-top: 35px;
		vertical-align: top;
		#round_score{
			font-size: 28px;
		}
	}
	#bubble_right{
		width: 180px;
		height: 200px;
		background: url(../image/bubble_right.png) no-repeat;
		display: inline-block;
		#bubble_right_color{
			width: 50px;
			height: 50px;
			background: red;
			margin-top: 40px;
			margin-left: 60px;
		}
	}
}

#color_board{
	width: 600px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#confirm_color{
	.btn;
	margin: 10px 0;
}

#stage{
	width: 380px;
	margin:0 auto;
	position: relative;
	#stage_left{
		width:50%;
		display: inline-block;
		.box-sizing;
		text-align: left;
		border-right:1px dotted #999;
	}
	#stage_right{
		width:49%;
		text-align: right;
		display: inline-block;
		.box-sizing;
	}
}

#bottom{
	width: 600px;
	min-height: 40px;
	margin:0 auto;
	text-align: center;
}

.btn{
	padding: 10px 15px;
	background: #333;
	.transition(0.1s);
	color: white;
	display: inline-block;
	cursor: pointer;
	border: 3px solid black;
	position: relative;
	&:hover{
		background: #fff;
		color: black;
		border: 3px solid black;
	};
}

.prompt{
	display: none;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	text-align: center;
	color: black;
	background: white;
	opacity: 1.0;
	z-index: 800;
}

#intro_prompt{
	position: absolute;
	margin-top: -200px;
	margin-left: -204px;
	top:50%;
	left:50%;
	height: 400px;
	width: 408px;
	#intro_prompt_left{
		display: inline-block;
		background: url(../image/landing_left.png);
		width: 100px;
		height: 100px;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
	}
	#intro_prompt_middle{
		width: 200px;
		display: inline-block;
		text-align: center;
		font-family: @font_sans;
		font-size: 40px;
		vertical-align: top;
		padding-top: 30px;
	}
	#intro_prompt_right{
		display: inline-block;
		background: url(../image/landing_right.png);
		width: 100px;
		height: 100px;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
	}
	#intro_prompt_words{
		padding: 15px 0;
		width: 70%;
		margin: 0 auto;
		text-align: center;
		font-size: 30px;
		color: #999;
	}
}

#generate_room{
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
	#start_name{
		margin: 0 auto;
		width: 200px;
	}
}


input{
	margin: 10px;
	padding: 10px;
	font-size:20px;
	background: #efefef;
	outline: none;
}

.il{
	display: inline-block;
	vertical-align:top;
}
.logo{
	font-size:40px;
	padding-top:30px;
	margin:10px 0;
	font-family:@font_sans;
}

#new_room{
	display: none;
	width: 100px;
	margin: 20px auto;
	text-align: center;
}
.vb{
	margin:10px 0;
	.vt{
		display: inline-block;
		margin: 5px 0;
	}
	.va{
		margin: 0 10px;
		display: inline-block;
		color: #999;
	}
	.vl{
		width: 60px;
		height: 10px;
		display: inline-block;
		margin: 0 5px;
	}
	.vr{
		width: 60px;
		height: 10px;
		display: inline-block;
		margin: 0 5px;
	}
}
#disclaimer{
	text-align: center;
	color: #999;
	margin: 20px 0;
}